* {
  font-family: sans-serif
}

li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Align the button next to the h1 */
.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header button {
  margin-left: 20px;
}

h3 {
  font-size: 1.25rem;
  margin-top: 0px;
  padding-right: 20px;
}

p {
  margin: 0.5rem 0;
  margin-right: 10px;
  font-size: 1rem;
  padding-right: 10px;
  border-right: 1px solid #000;
}

p:first-of-type {
  font-weight: bold;
}

li:hover {
  background-color: #f5f5f5;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*
TODO
Custom classes - to be refactored with some CSS framework
*/
.dropdown-box {
  margin-top: 20px;
}

.flex-container {
  display: flex;
}

.tab-button {
  margin-left: 5px;
  margin-top: 10px;
}

.tab-button.active {
  background-color: #555;
}